clustering/clustered_image
dataset/
clustering/__pycache__
musinsa_crawling/__pycache__
Obj_detection_model/__pycache__
Obj_detection_model/yolov5/__pycache__
Obj_detection_model/yolov5/runs
Obj_detection_model/test_result
Obj_detection_model/product_detect_result