{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="banner">
    <h1 class="display-4">배너</h1>
</div>

<div class="mt-5">
    <h2>Products</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3 mb-4">
                <div class="card product-card">
                    {% if product.first_file %}
                        <a href="{% url 'product_detail' product.product_id %}">
                            <img src="{{ product.first_file.file.url }}" class="img-fluid" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.product_id %}">
                            <img src="{% static 'default-image.jpg' %}" class="img-fluid" alt="Default Image">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }}</p>
                        <!-- 상품 삭제 링크 추가 -->
                        <a href="{% url 'product_delete' product.product_id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
